In [12]:
import pandas as pd

In [13]:
path = "../PyBank/budget_data.csv"

budget_data = pd.read_csv(path)

In [14]:
print(budget_data)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
5   Jun-2010         522857
6   Jul-2010        1033096
7   Aug-2010         604885
8   Sep-2010        -216386
9   Oct-2010         477532
10  Nov-2010         893810
11  Dec-2010         -80353
12  Jan-2011         779806
13  Feb-2011        -335203
14  Mar-2011         697845
15  Apr-2011         793163
16  May-2011         485070
17  Jun-2011         584122
18  Jul-2011          62729
19  Aug-2011         668179
20  Sep-2011         899906
21  Oct-2011         834719
22  Nov-2011         132003
23  Dec-2011         309978
24  Jan-2012        -755566
25  Feb-2012        1170593
26  Mar-2012         252788
27  Apr-2012        1151518
28  May-2012         817256
29  Jun-2012         570757
..       ...            ...
56  Sep-2014        1166643
57  Oct-2014         947333
58  Nov-2014         578668
59  Dec-2014         988505
60  Jan-2015        1139715
61  Feb-2015        1029471
62  Mar-2015         687533
63  Apr-2015        -524626
64  May-2015         158620
65  Jun-2015          87795
66  Jul-2015         423389
67  Aug-2015         840723
68  Sep-2015         568529
69  Oct-2015         332067
70  Nov-2015         989499
71  Dec-2015         778237
72  Jan-2016         650000
73  Feb-2016       -1100387
74  Mar-2016        -174946
75  Apr-2016         757143
76  May-2016         445709
77  Jun-2016         712961
78  Jul-2016       -1163797
79  Aug-2016         569899
80  Sep-2016         768450
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [15]:
#The total number of months included in the dataset

numDates = len(budget_data["Date"])
print(numDates)

86

In [16]:
#The net total amount of "Profit/Losses" over the entire period

netTotal = sum(budget_data["Profit/Losses"])
print(f" ${netTotal}")

 $38382578

In [22]:
#Add column for Monthly Changes

budget_data["Month-to-Month Changes"] = ""

In [25]:
#Calculate changes in "Profit/Losses" over the entire period

profit_loss = budget_data["Profit/Losses"]

budget_data['Month-to-Month Changes'] = budget_data['Profit/Losses'] - budget_data['Profit/Losses'].shift(1)
print(budget_data)

        Date  Profit/Losses  Month-to-Month Changes
0   Jan-2010         867884                     NaN
1   Feb-2010         984655                116771.0
2   Mar-2010         322013               -662642.0
3   Apr-2010         -69417               -391430.0
4   May-2010         310503                379920.0
5   Jun-2010         522857                212354.0
6   Jul-2010        1033096                510239.0
7   Aug-2010         604885               -428211.0
8   Sep-2010        -216386               -821271.0
9   Oct-2010         477532                693918.0
10  Nov-2010         893810                416278.0
11  Dec-2010         -80353               -974163.0
12  Jan-2011         779806                860159.0
13  Feb-2011        -335203              -1115009.0
14  Mar-2011         697845               1033048.0
15  Apr-2011         793163                 95318.0
16  May-2011         485070               -308093.0
17  Jun-2011         584122                 99052.0
18  Jul-2011          62729               -521393.0
19  Aug-2011         668179                605450.0
20  Sep-2011         899906                231727.0
21  Oct-2011         834719                -65187.0
22  Nov-2011         132003               -702716.0
23  Dec-2011         309978                177975.0
24  Jan-2012        -755566              -1065544.0
25  Feb-2012        1170593               1926159.0
26  Mar-2012         252788               -917805.0
27  Apr-2012        1151518                898730.0
28  May-2012         817256               -334262.0
29  Jun-2012         570757               -246499.0
..       ...            ...                     ...
56  Sep-2014        1166643                365942.0
57  Oct-2014         947333               -219310.0
58  Nov-2014         578668               -368665.0
59  Dec-2014         988505                409837.0
60  Jan-2015        1139715                151210.0
61  Feb-2015        1029471               -110244.0
62  Mar-2015         687533               -341938.0
63  Apr-2015        -524626              -1212159.0
64  May-2015         158620                683246.0
65  Jun-2015          87795                -70825.0
66  Jul-2015         423389                335594.0
67  Aug-2015         840723                417334.0
68  Sep-2015         568529               -272194.0
69  Oct-2015         332067               -236462.0
70  Nov-2015         989499                657432.0
71  Dec-2015         778237               -211262.0
72  Jan-2016         650000               -128237.0
73  Feb-2016       -1100387              -1750387.0
74  Mar-2016        -174946                925441.0
75  Apr-2016         757143                932089.0
76  May-2016         445709               -311434.0
77  Jun-2016         712961                267252.0
78  Jul-2016       -1163797              -1876758.0
79  Aug-2016         569899               1733696.0
80  Sep-2016         768450                198551.0
81  Oct-2016         102685               -665765.0
82  Nov-2016         795914                693229.0
83  Dec-2016          60988               -734926.0
84  Jan-2017         138230                 77242.0
85  Feb-2017         671099                532869.0

[86 rows x 3 columns]

In [56]:
#The average of the changes in "Profit/Losses" over the entire period

changes = budget_data.loc[1:86, "Month-to-Month Changes"]

print(changes)

1      116771.0
2     -662642.0
3     -391430.0
4      379920.0
5      212354.0
6      510239.0
7     -428211.0
8     -821271.0
9      693918.0
10     416278.0
11    -974163.0
12     860159.0
13   -1115009.0
14    1033048.0
15      95318.0
16    -308093.0
17      99052.0
18    -521393.0
19     605450.0
20     231727.0
21     -65187.0
22    -702716.0
23     177975.0
24   -1065544.0
25    1926159.0
26    -917805.0
27     898730.0
28    -334262.0
29    -246499.0
30     -64055.0
        ...
56     365942.0
57    -219310.0
58    -368665.0
59     409837.0
60     151210.0
61    -110244.0
62    -341938.0
63   -1212159.0
64     683246.0
65     -70825.0
66     335594.0
67     417334.0
68    -272194.0
69    -236462.0
70     657432.0
71    -211262.0
72    -128237.0
73   -1750387.0
74     925441.0
75     932089.0
76    -311434.0
77     267252.0
78   -1876758.0
79    1733696.0
80     198551.0
81    -665765.0
82     693229.0
83    -734926.0
84      77242.0
85     532869.0
Name: Month-to-Month Changes, Length: 85, dtype: float64

In [65]:
#for row in profit_loss[1:]:
import math 

from statistics import mean 
mean = float(mean(changes))
print(math.ceil(mean*100)/100)

-2315.11